<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <section style="display: flex; align-items: center; justify-content: center;flex-direction: column; height: 90vh">
        <h1 style="font-size: 2.5rem; color: #198754">Welcome to User Management System</h1>
        <h3 style="color: rgba(21,12,11,0.75); font-size: 1rem">Created By: Parish Jain</h3>
    </section>
</body>
</html>